* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #9193ac;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #111b1d;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
    display: flex;
    align-items: center;
    margin-left: 0;
    text-indent: -9999px; /* Hide the text content */
    width: 100px; /* Set width as needed */
    height: 100px; /* Set height as needed */
    background: url("../IMAGES/logo.svg") center/contain no-repeat; /* Replace "logo.gif" with the file path of your GIF */
}

header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #3edde9;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover, footer a:hover {
  color: #38e016;
}
  

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

h1 {
    text-align: center;
    padding: 2rem 0;
    color: #131313;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.card {
  position: relative;
  overflow: hidden; /* Ensure the image is contained within the card */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 500px; /* Adjust the max-width as needed */
}
.card:hover {
    background-color: #e4e4e4;
}

.card img {
  width: 100%;
  height: auto; /* Allow the image to maintain its aspect ratio */
  display: block;
}


.book-btn {
  display: block;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%; /* Make the button fill the width of the card */
}
.book-btn:hover {
    background-color: #444;
}

.form-container {
    display: none;
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}
.back-btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}